*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

header{
    width: 100%;
    min-height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("./WebAppImages/carousel-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about__image {
    width: 20rem;
}
.about-2-image {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
}
.text-uppercase::after {
    content: '';
    display: block;
    border-bottom: 2px solid blue;
    width: 4rem;
}

#form #email-error,
#form #password-error {
    color: #C62828;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(170, 95, 95, 0.5);
    text-align: center;
    padding: 5px 8px;
    border: 1px solid #EF9A9A;
    border-radius: 4px;
    display: none;
}

@media screen and (max-width: 700px) { 
  #card__block {
    display: flex;
    flex-direction: column;
  }
 }


/* email template  css start*/
.top__section{
    position: relative;
    z-index: 1000;
}
/* .top__section::after {
    content: '';
    display: block;
    position: relative;
    rotate: -5deg;
    background-color: #ddac91;
    height: 4rem;
    transform: scaleX(2);

} */